@model EKomplet.ServiceLayer.DTOs.DistrictDTO
@{
    ViewData["Title"] = "DeleteSalesmanFailed";
}

<h1>Der skal altid være en primær sælger i et distrikt!</h1>



<a asp-action="Details" asp-route-id=@Model.DistrictID> Tilbage til distriktet</a>

