@model IEnumerable<EKomplet.ServiceLayer.DTOs.DistrictDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Oversigt over Distrikter</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Distrikter
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistrictID">Redigér</a> |
                <a asp-action="Details" asp-route-id="@item.DistrictID">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.DistrictID">Slet</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Tilføj nyt distrikt</a>
</p>
